@import url('https://fonts.cdnfonts.com/css/google-sans');

*{
    margin: 0;
    padding: 0;
    font-family: 'Product Sans', sans-serif;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color:orange /* Warna teks kuning */
}


.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: #000000; /* Warna teks saat hover atau focus */
}

#welcome{
    background-color: #032b43;
    padding-top: 150px;
}
#welcome h1{
    color: #fff;
}
#welcome span{
    color: orange;
}
#welcome h2{
    color: #fff;
}
#welcome h4{
    color: #fff;
}
#welcome p{
    color: #fff;
}
#welcome button{
    padding: 15px;
    width: 150px;
    margin-top: 30px;
    background-color: orange;
    border: none;
    border-radius: 0px;
}
#welcome img{
    width: 100%;
}
#sertifikat{
    padding-top: 70px;
    padding-bottom: 70px;
}
#sertifikat h2{
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 10px;
}
#sertifikat .card{
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#sertifikat .col-md-4{
    margin-bottom: 30px;
}
#sertifikat .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
#contact{
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #032b43;
    text-align: center;
}
#contact h1{
    color: orange;
}
#contact h4{
    color: #fff;
}
#contact a{
    color: #fff;
    text-decoration: none;
}

.navbar-transparent {
    background-color: transparent !important;
    backdrop-filter: blur(10px); /* Efek blur pada latar belakang */
}
/* Tambahkan efek transisi */
.card:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}

#projects {
    text-align: center;
}
#projects h2 {
    margin-bottom: 30px; /* Adjust as needed */
}

    /* Tambahkan jarak antara bagian Projects dan Certifications */
    #projects {
        margin-bottom: 50px;
    }
    /* Berikan tampilan yang berbeda untuk setiap bagian */
    #projects, #sertifikat {
        background-color: #f9f9f9;
        padding: 50px 0;
    }
    
